.Toast-Error-Icon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ff4b4b;
  position: relative;
  transform: rotate(45deg);
}
.Toast-Error-Icon::after {
  content: '';
  position: absolute;
  border-radius: 3px;
  background: #fff;
  bottom: 9px;
  left: 4px;
  height: 2px;
  width: 12px;
  transform: rotate(90deg);
}
.Toast-Error-Icon::before {
  content: '';
  position: absolute;
  border-radius: 3px;
  background: #fff;
  bottom: 9px;
  left: 4px;
  height: 2px;
  width: 12px;
}
