name: Tests

on:
  pull_request:
    branches: [main, master]
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  COVERAGE_FILE: ./coverage/report.json

jobs:
  tests-jest:
    name: JEST Tests
    runs-on: buildjet-4vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v3
      - uses: FuelLabs/github-actions/setups/node@master
      - uses: FuelLabs/github-actions/setups/docker@master
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start Test Node
        run: pnpm node:up:test

      - name: Graphql Codegen
        run: pnpm codegen:app
        env:
          NODE_ENV: test

      # Unit tests running with JEST
      - name: Find PR number
        uses: jwalton/gh-find-current-pr@v1
        id: findPr

      - name: Build libs
        run: |
          pnpm build:libs

      - name: Run Jest Tests
        run: |
          pnpm test:ci --outputFile="${{ env.COVERAGE_FILE }}"
        timeout-minutes: 20

      - name: Publish coverage
        uses: artiomtr/jest-coverage-report-action@v2.0.5
        if: ${{ steps.findPr.outputs.number }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          package-manager: pnpm
          annotations: failed-tests
          test-script: pnpm test:ci
          working-directory: ./packages/app
          coverage-file: ${{ env.COVERAGE_FILE }}
          base-coverage-file: ${{ env.COVERAGE_FILE }}

      - name: Stop Test Node
        run: pnpm node:clean:test

  tests-e2e:
    name: E2E Tests
    runs-on: buildjet-4vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v3
      - uses: FuelLabs/github-actions/setups/node@master
      - uses: FuelLabs/github-actions/setups/docker@master
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start Test Node
        run: pnpm node:up:test

      - name: Graphql Codegen
        run: pnpm codegen:app
        env:
          NODE_ENV: test

      - name: Build Application
        run: pnpm build:test
        env:
          ## increase node.js m memory limit for building
          ## with sourcemaps
          NODE_OPTIONS: "--max-old-space-size=4096"
          NODE_ENV: test

      # Test upload artifacts to Sentry
      - name: Upload aritifacts to Sentry
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production
          version: "0.0.1"

      # E2E tests running with Playwright
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps chromium

      - name: Run E2E Tests
        run: xvfb-run --auto-servernum -- pnpm test:e2e
        env:
          NODE_ENV: test

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

      - name: Stop Test Node
        run: pnpm node:clean:test

