name: Check SDK updates (manual)

on:
  workflow_dispatch:
    inputs:
      package:
        description: Packages to update (comma separated)
        default: fuels
        required: true
      tag:
        description: NPM tag to use 
        default: latest
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  update-version:
    runs-on: buildjet-4vcpu-ubuntu-2204

    steps:
      - uses: actions/checkout@v3
      - uses: FuelLabs/github-actions/setups/node@master

      - name: Checking updates
        uses: FuelLabs/github-actions/update-sdk@hf/feat/multiline-packages
        with:
          branch: master
          packages: ${{ inputs.packages }}
          npm-tag: ${{ inputs.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
