name: Check SDK updates

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  update-version:
    runs-on: buildjet-4vcpu-ubuntu-2204
    strategy:
      matrix:
        tag: ["latest"] # Currently only "latest" tag is available across all packages

    steps:
      - uses: actions/checkout@v4
      - uses: FuelLabs/github-actions/setups/node@pn/fix/pnpm-cache

      - name: Checking updates
        uses: FuelLabs/github-actions/update-sdk@master
        with:
          branch: master
          changeset: true
          packages: fuels,@fuels/react,@fuels/connectors
          npm-tag: ${{ matrix.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
