name: Check SDK updates

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  update-version:
    runs-on: buildjet-4vcpu-ubuntu-2204
    strategy:
      matrix:
        tag: ['latest'] # Currently only "latest" tag is available across all packages

    steps:
      - uses: actions/checkout@v3
        with:
          # workaround to ensure force pushes to changeset branch use REPO_TOKEN owner's account
          # see https://github.com/changesets/action/issues/70
          persist-credentials: false
      - uses: FuelLabs/github-actions/setups/node@master

      - name: Setup git user
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Checking updates
        uses: FuelLabs/github-actions/update-sdk@master
        with:
          branch: master
          changeset: true
          packages: fuels,@fuels/react,@fuels/connectors
          npm-tag: ${{ matrix.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
