html {
  scroll-behavior: smooth;
}

body,
#__next {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.04em;
  font-feature-settings: "pnum" on, "onum" on, "ss04" on;
}

*:focus:not(input) {
  outline: 2px solid #03c399;
  border-radius: 5px;
}

a {
  color: #03c399;
  text-decoration: none;
}

tr > th {
  text-align: left;
}

tr > th,
tr > td {
  padding: 0 20px 0 0;
}
